@font-face {
    font-family: 'BabasNeueBold';
    src: url('../fonts/BabasNeue/BebasNeueBold.ttf') format('truetype');
}

@font-face {
    font-family: 'BabasNeueBook';
    src: url('../fonts/BabasNeue/BebasNeueBook.ttf') format('truetype');
}

@font-face {
    font-family: 'BabasNeueLight';
    src: url('../fonts/BabasNeue/BebasNeueLight.ttf') format('truetype');
}

@font-face {
    font-family: 'BabasNeueRegular';
    src: url('../fonts/BabasNeue/BebasNeueRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'BabasNeueThin';
    src: url('../fonts/BabasNeue/BebasNeueThin.ttf') format('truetype');
}
