@import "bourbon";
@import "fonts";
@import "libs";
@import "vars";
*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}


/* the width of main content*/

.inner-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.wrapper {
    width: 100%;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #666;
}

body input:required:valid,
body textarea:required:valid {
    color: #666;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.75;
    overflow-x: hidden;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Start of the header block with image*/

.header-with-img {
    width: 100%;
    padding-top: 125px;
    background: url('../img/header_photo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-with-img--text {
    padding-bottom: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 65px;
    line-height: 0.74;
    font-family: 'BabasNeueRegular';
    color: #fff;
    font-size: 90px;
}

.header-with-img--text p {
    margin: 0;
}

.header-with-img--text .last-p {
    font-family: 'BabasNeueRegular';
    font-size: 36px;
}

nav {
    background-color: #262223;
}

.flex-container {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    cursor: pointer;
    margin-left: 36px;
    line-height: 2.15;
    font-size: 48px;
    font-family: 'BabasNeueRegular';
}

.navigation-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style: none;
}

.navigation-links li {
    margin-right: 34px;
}

.social-icons-link {
    margin-left: 13px;
}

.navigation-links li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'BabasNeueRegular';
    &:hover {
        color: #65ba99;
    }
}

.fa-facebook {
    border-radius: 50px;
    color: #252222;
    background-color: #fff;
    &:hover {
        color: #4867aa;
    }
}

.fa-facebook-f:before,
.fa-facebook:before {
    font-size: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35px;
    content: "\f09a";
    height: 35px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
}

.fa-linkedin-square {
    border-radius: 50px;
    color: #252222;
    background-color: #fff;
    &:hover {
        color: #0077b5;
    }
}

.fa-linkedin-square:before,
.fa-linkedin-square:before {
    font-size: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35px;
    content: "\f09a";
    height: 35px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
}

.fa-flickr {
    border-radius: 50px;
    color: #252222;
    background-color: #fff;
    &:hover {
        color: #0063db;
    }
}

.fa-flickr:before,
.fa-flickr:before {
    font-size: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35px;
    content: "\f09a";
    height: 35px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
}

.fa-twitter {
    border-radius: 50px;
    color: #252222;
    background-color: #fff;
    &:hover {
        color: #5dd7fc;
    }
}

.fa-twitter,
.fa-twitter:before {
    font-size: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35px;
    content: "\f09a";
    height: 35px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
}

@import "media"
